<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if product.errors %}
         <p>
             数据错误:{{product.errors}}
         </p>
    {% else %}
         <form action="" method="post">
          {% csrf_token %}
              <table>
                {{product.as_table}}
              </table>
              <input type="submit"value="提交">
             <br><br>
             <input type="text" name="lastname" value={{cname}}>
         </form>
    {% endif %}
</body>
</html>